# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
*.egg-info/
build/
dist/

# Testing & coverage
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Type checkers
.basedpyright/
.mypy_cache/
.pyright/

# OS
.DS_Store
Thumbs.db
